.headerContainer{
    background: linear-gradient(to top,transparent, #000);
    position: fixed;
    z-index: 5;
    width: 100%;
}
.logo{
    color: white;
}
.searchBtn{
    padding: 0 2rem;
    font-size: 3rem;
    cursor: pointer;
}
.rightMenuList{
    display: flex;
    align-items: center;
}